:root {
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body {
  margin: 25px;
  font-family: var(--bs-font-sans-serif)
}

font {
  font-family: var(--bs-font-sans-serif)
}

table {
  border-collapse: collapse;
}

td, th {
  border-width: 2px;
  algin: right: ;
  font-family: var(--bs-font-sans-serif)
}

a {
  text-decoration: none;
  font-family: var(--bs-font-sans-serif)
}

/* Дерево */
ul, #racks {
  list-style-type: none;
}

#racks {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}

/* Кнопки */
.btn-link {
  font-size: 70%; 
  padding: 3px;
  line-height: 1;
  background-color: #4CAF50; /* Зеленый */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.4s;
}

.second {
    background-color: #006e99; /* Синий */
  }

.third {
    background-color: #e46161; /* Красный */
  }

.btn-link:hover {
    background-color: #FFFFFF; 
    color: black;
}

.choice-button {
  font-size: 15px;
}

/* Прочее */
.main-text {
  font-size: 140%;
  padding: 3px; 
  line-height: 2;
}

.other-text {
  font-size: 120%;
  padding: 3px;
  line-height: 2; 
}

.myheader {
  float: right;
}

.small-size {
  font-size: 9pt;
}

.id {
  min-width: 8ch;
  max-width: 8ch;
}

.device {
  min-width: 70ch;
  max-width: 70ch;
}

.device-coll {
  font-size: 14pt;
}

.unit {
  min-width: 4ch;
  max-width: 4ch;
}

.rack-header {
  line-height: 250%; 
  font-size: 120%;
}

.smaller {
  font-size: 80%;
}

.choice-header {
  font-size: 12px;
}

.zebra-green {
  background: repeating-linear-gradient(-45deg, #ABEBC6 0, #ABEBC6 10px, transparent 10px, transparent 20px);
}

.zebra-red {
  background: repeating-linear-gradient(-45deg, #F5B7B1 0, #F5B7B1 10px, transparent 10px, transparent 20px);
}
