:root {
  --bs-font-sans-serif: 'Open Sans Condensed', sans-serif; color: #545454; letter-spacing: -0.1em;
}

hr {
  height:6px;
  border-width:0;
  color:#696969;
  background-color:#696969;
}

body {
  margin: 35px;
  font-family: var(--bs-font-sans-serif)
}

font {
  font-family: var(--bs-font-sans-serif)
}

a {
  text-decoration: none;
  font-family: var(--bs-font-sans-serif)
}

a:link {
  color: #696969;
}

a:visited {
  color: #878787;
}

/* Tree */
ul, #racks {
  list-style-type: none;
}

#racks {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\232A";
  -webkit-text-stroke: 3px;
  font-size:14px;
  color: #a9a9a9;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transform: rotate(30deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}

/* Prompts */
input, textarea {
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 3px 5px;
}

input:focus, textarea:focus {
  border-color: #fc0;
}

label {
  font-size: 90%;
  color: #85929E;
  display: none;
  border-radius: 5px;
  background: #f1f1f1;
  padding: 2px 5px;
  margin: 0 0 0 4px;
}

input:focus + label, textarea:focus + label {
  display: inline-block;
}

/* Buttons */
.btn-link {
  letter-spacing: -0.07em;
  font-size: 70%; 
  padding: 3px;
  line-height: 1;
  background-color: #e8751a; /* Orange */
  border: none;
  color: white !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.4s;
}

.second {
    background-color: #878787; /* Gray */
  }

.third {
    background-color: #fda403; /* Yellow */
}

.btn-link:hover {
    background-color: #FFFFFF !important; 
    color: #545454 !important;
}

/*Table*/
.styled-table {
  width:60%;
  min-width: 70ch;
  max-width: 70ch;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  font-size: 1.2em;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.unit {
  width:2ch;
  text-align: left;
  min-width: 2ch;
  max-width: 2ch;
  font-size: 0.8em;
}

.device a {
  width:62ch;
  color: white;
  text-align: center;
  min-width: 62ch;
  max-width: 62ch;
}

.id {
  width:6ch;
  text-align: center;
  min-width: 6ch;
  max-width: 6ch;
  font-size: 0.9em;
}

.our {
  background-color: #e8751a !important;
}

.alien {
  background-color: #fda403 !important;
}

.empty {
  background: repeating-linear-gradient(-45deg, #878787 0, #878787 5px, transparent 5px, transparent 10px);
}

/* Other */
.main-text {
  font-size: 140%;
  padding: 3px; 
  line-height: 2;
}

.other-text {
  font-size: 120%;
  padding: 3px;
  line-height: 2; 
}

.myheader {
  float: right;
}

.small-size {
  font-size: 9pt;
}

.header {
  -moz-transform:scale(1, 2);
  letter-spacing: -0.15em;
}

.micro-size {
  font-size: 70%; 
  letter-spacing: 0.001em; 
}

.message {
  font-size: 20px;
}

.info {
  color: #9f9f9f;
}