{% extends 'base.html' %}
{% block page %}
    <form method='POST'>
    {% csrf_token %}
    {% if object == 'device' %}
        <b>Вы действительно хотите удалить "Устройство №{{ device.id }} - {{ device.device_vendor }} {{ device.device_model }}"?</b>
    {% elif object == 'rack' %}
        !!!ВНИМНИЕ!!! 
        <br>
        Удаление стойки влечет за собой удаление всех привязанных к ней элементов по схеме:
        <br>
        Стойка &rArr; Все устройства в стойке
        <br>
        <br>
        <b>Вы действительно хотите удалить "{{ rack.rack_name }}"?</b>
    {% elif object == 'room' %}
        !!!ВНИМНИЕ!!! 
        <br>
        Удаление помещения влечет за собой удаление всех привязанных к нему элементов по схеме:
        <br>
        Помещение &rArr; Все стойки в помещении &rArr; Все устройства в помещении
        <br>
        <br>
        <b>Вы действительно хотите удалить удалить "{{ room.room_name }}"?</b>
    {% elif object == 'building' %}
        !!!ВНИМНИЕ!!! 
        <br>
        Удаление здания влечет за собой удаление всех привязанных к нему элементов по схеме:
        <br>
        Здание &rArr; Все помещения в заднии &rArr; Все стойки в здании &rArr; Все устройства в здании
        <br>
        <br>
        <b>Вы действительно хотите удалить "{{ building.building_name }}"?</b>
    {% elif object == 'site' %}
        Удаление объекта влечет за собой удаление всех привязанных к нему элементов по схеме:
        <br>
        Объект &rArr; Все здания объекта &rArr; Все помещения объекта &rArr; Все стойки объекта &rArr; Все устройства объекта
        <br>
        <br>
        <b>Вы действительно хотите удалить "{{ site.site_name }}"?</b>
    {% endif %}
    <br>
    <br>
    <input type="submit" value="Удалить">
{% endblock %}
