{% extends 'base.html' %}
{% block page %}
    <form method='POST'>
    {% csrf_token %}
    {% if object == 'device' %}
        <b>Do you really want to delete "Device №{{ device.id }} - {{ device.device_vendor }} {{ device.device_model }}"?</b>
    {% elif object == 'rack' %}
        <b>Are you sure you want to delete "{{ rack.rack_name }}" and all related items?</b>
    {% elif object == 'room' %}
        <b>Are you sure you want to delete "{{ room.room_name }}" and all related items?</b>
    {% elif object == 'building' %}
        <b>Are you sure you want to delete "{{ building.building_name }}" and all related items?</b>
    {% elif object == 'site' %}
        <b>Are you sure you want to delete "{{ site.site_name }}" and all related items?</b>
    {% endif %}
    <br>
    <br>
    <input type="submit" value="Delete">
{% endblock %}
