{% extends 'base.html' %}
{% block page %}
    <div style="float: right">
        <a class="btn-link second" href="{% url 'device_qr' pk=device.pk %}">&#9113; Device QR code</a>
        <a class="btn-link third" href="{% url 'device_upd' pk=device.pk %}">&#9998; Edit</a>
        <a class="btn-link third" href="{% url 'device_del' pk=device.pk %}">&#10006; Delete</a>
    </div>
    <b style="font-size: 140%">Device №{{ device.id }}&#8287;</b>
    <br>
    <br>
    Status: <text class="info">{{ device.status }}</text>
    <br>
    Description: <text class="info">{{ device.device_description }}</text>
    <br>
    {% if device.frontside_location == True %}
        Located on the front of the rack: <text class="info">Yes</text>
    {% else %}
        Located on the front of the rack: <text class="info">No</text>
    {% endif %}
    <br>
    Installed in: <a href="{% url 'units' pk=device.rack_id_id %}" target="_blank">&#9094; Rack №{{ device.rack_id_id }}</a>
    <br>
    First unit: <text class="info">{{ device.first_unit }}</text>
    <br>
    Last unit: <text class="info">{{ device.last_unit }}</text>
    <br>
    Ownership: <text class="info">{{ device.ownership }}</text>
    <br>
    Responsible: <text class="info">{{ device.responsible }}</text>
    <br>
    Project: <text class="info">{{ device.project }}</text>
    <br>
    Inventory number: <text class="info">{{ device.device_inventory_number}}</text>
    <br>
    Financially responsible: <text class="info">{{ device.financially_responsible_person }}</text>
    <br>
    Fixed asset: <text class="info">{{ device.fixed_asset }}</text>
    <br>
    {% if device.link %}
        Link to docs: <a href="{{ rack.link }}">&#9094; {{ device.link }}</a>
    {% else %}
        Link to docs:
    {% endif %}
    <br>
    <br>
    Vendor: <text class="info">{{ device.device_vendor }}</text>
    <br>
    Model: <text class="info">{{ device.device_model }}</text>
    <br>
    Device type: <text class="info">{{ device.device_type }}</text>
    <br>
    Hostname: <text class="info">{{ device.device_hostname }}</text>
    <br>
    {% if device.ip != None %}
        IP-address: <text class="info">{{ device.ip }}</text>
    {% else %}
        IP-address:
    {% endif %}
    <br>
    {% if device.device_stack != None %}
        Stack/Reserve (reserve ID): <a href="{% url 'device_detail' device.device_stack %}" target="_blank">&#9094; Device №{{ device.device_stack }}</a>
    {% else %}
        Stack/Reserve (reserve ID):
    {% endif %}
    <br>
    {% if device.ports_amout != None %}
        Port capacity: <text class="info">{{ device.ports_amout }}</text>
    {% else %}
        Port capacity:
    {% endif %}
    <br>
    Software version: <text class="info">{{ device.version }}</text>
    <br>
    Serial number: <text class="info">{{ device.device_serial_number }}</text>
    <br>
    Socket type: <text class="info">{{ device.power_type }}</text>
    <br>
    {% if device.power_w != None %}
        Power requirement (W): <text class="info">{{ device.power_w }}</text>
    {% else %}
        Power requirement (W):
    {% endif %}
    <br>
    {% if device.power_v != None %}
        Voltage (V): <text class="info">{{ device.power_v }}</text>
    {% else %}
        Voltage (V):
    {% endif %}
    <br>
    AC/DC: <text class="info">{{ device.power_ac_dc }}</text>
    <br>
    <br>
    <div class="small-size">Updated by: {{ device.updated_by }}</div>
    <div class="small-size">Updated at: {{ device.updated_at }}</div>
{% endblock %}
