{% extends 'base.html' %}
{% block page %}
    <div style="float: right">
        <a class="btn-link second" href="{% url 'device_qr' pk=device.pk %}">&#9113; Device QR code</a>
        <a class="btn-link third" href="{% url 'device_upd' pk=device.pk %}">&#9998; Edit</a>
        <a class="btn-link third" href="{% url 'device_del' pk=device.pk %}">&#10006; Delete</a>
    </div>
    <b style="font-size: 140%">Device №{{ device.id }}&#8287;</b>
    <br>
    <br>
    Status: {{ device.status }}
    <br>
    Description: {{ device.device_description }}
    <br>
    {% if device.frontside_location == True %}
        Located on the front of the rack: Yes
    {% else %}
        Located on the front of the rack: No
    {% endif %}
    <br>
    Installed in: <a href="{% url 'units' pk=device.rack_id_id %}" target="_blank">&#9094; Rack №{{ device.rack_id_id }}</a>
    <br>
    First unit: {{ device.first_unit }}
    <br>
    Last unit: {{ device.last_unit }}
    <br>
    Ownership: {{ device.ownership }}
    <br>
    Responsible: {{ device.responsible }}
    <br>
    Project: {{ device.project }}
    <br>
    Inventory number: {{ device.device_inventory_number}}
    <br>
    Financially responsible: {{ device.financially_responsible_person }}
    <br>
    Fixed asset: {{ device.fixed_asset }}
    <br>
    {% if device.link %}
        Link to docs: <a href="{{ rack.link }}">&#9094; {{ device.link }}</a>
    {% else %}
        Link to docs:
    {% endif %}
    <br>
    <br>
    Vendor: {{ device.device_vendor }}
    <br>
    Model: {{ device.device_model }}
    <br>
    Device type: {{ device.device_type }}
    <br>
    Hostname: {{ device.device_hostname }}
    <br>
    {% if device.ip != None %}
        IP-address: {{ device.ip }}
    {% else %}
        IP-address:
    {% endif %}
    <br>
    {% if device.device_stack != None %}
        Stack/Reserve (reserve ID): <a href="{% url 'device_detail' device.device_stack %}" target="_blank">&#9094; Device №{{ device.device_stack }}</a>
    {% else %}
        Stack/Reserve (reserve ID):
    {% endif %}
    <br>
    {% if device.ports_amout != None %}
        Port capacity: {{ device.ports_amout }}
    {% else %}
        Port capacity:
    {% endif %}
    <br>
    Software version: {{ device.version }}
    <br>
    Serial number: {{ device.device_serial_number }}
    <br>
    Socket type: {{ device.power_type }}
    <br>
    {% if device.power_w != None %}
        Power requirement (W): {{ device.power_w }}
    {% else %}
        Power requirement (W):
    {% endif %}
    <br>
    {% if device.power_v != None %}
        Voltage (V): {{ device.power_v }}
    {% else %}
        Voltage (V):
    {% endif %}
    <br>
    AC/DC: {{ device.power_ac_dc }}
    <br>
    <br>
    <div class="small-size">Updated by: {{ device.updated_by }}</div>
    <div class="small-size">Updated at: {{ device.updated_at }}</div>
{% endblock %}
