{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <h3 align="center"><b>Authorization</b></h3>
        <center><form action = "" method = "post">
            {% csrf_token %}
            {{ form.errors }}
                Username: {{ form.username }}
            <br>
                Password: {{ form.password }}
            <br>
            <br>
            <button type="submit">Login</button>
        </form></center>
</body>
</html>
