{% extends 'base.html' %}
{% block page %}
    <div style="float: right">
        <a class="btn-link second" href="{% url 'rack_qr' pk=rack.pk %}">&#9113; Rack QR code</a>
        <a class="btn-link second" href="{% url 'front_units_print' pk=rack.pk %}" target="_blank"> &#9113; Front side draft</a>
        <a class="btn-link second" href="{% url 'back_units_print' pk=rack.pk %}" target="_blank"> &#9113; Back side draft</a>
        <a class="btn-link third" href="{% url 'rack_upd' pk=rack.pk %}">&#9998; Edit</a>
        <a class="btn-link third" href="{% url 'rack_del' pk=rack.pk %}">&#10006; Delete</a>
    </div>
    <b style="font-size: 140%">Rack №{{ rack.id }}&#8287;</b>
    <br>
    <br>
    Rack name: <text class="info">{{ rack.rack_name }}</text>
    <br>
    Responsible: <text class="info">{{ rack.responsible }}</text>
    <br>
    Row: <text class="info">{{ rack.row }}</text>
    <br>
    Place: <text class="info">{{ rack.place }}</text>
    <br>
    Description: <text class="info">{{ rack.rack_description }}</text>
    <br>
    Inventory number: <text class="info">{{ rack.rack_inventory_number }}</text>
    <br>
    Financially responsible: <text class="info">{{ rack.rack_financially_responsible_person }}</text>
    <br>
    Fixed asset: <text class="info">{{ rack.fixed_asset }}</text>
    <br>
    {% if rack.link %}
        Link to docs: <a href="{{ rack.link }}">&#9094; {{ rack.link }}</a>
    {% else %}
        Link to docs:
    {% endif %}
    <br>
    <br>
    Vendor: <text class="info">{{ rack.rack_vendor }}</text>
    <br>
    Model: <text class="info">{{ rack.rack_model }}</text>
    <br>
    Rack amount (units): <text class="info">{{ rack.rack_amount }}</text>
    <br>
    {% if rack.numbering_from_bottom_to_top == True %}
        Numbering: <text class="info">from bottom to top</text>
    {% else %}
        Numbering: <text class="info">from top to bottom</text>
    {% endif %}
    <br>
    {% if rack.rack_height != None %}
        Rack height (mm): <text class="info">{{ rack.rack_height }}</text>
    {% else %}
        Rack height (mm):
    {% endif %}
    <br>
    {% if rack.rack_width != None %}
        Rack width (mm): <text class="info">{{ rack.rack_width }}</text>
    {% else %}
        Rack width (mm):
    {% endif %}
    <br>
    {% if rack.rack_depth != None %}
        Rack depth (mm): <text class="info">{{ rack.rack_depth }}</text>
    {% else %}
        Rack depth (mm):
    {% endif %}
    <br>
    {% if rack.rack_unit_width != None %}
        Useful rack width (inches): <text class="info">{{ rack.rack_unit_width }}</text>
    {% else %}
        Useful rack width (inches):
    {% endif %}
    <br>
    {% if rack.rack_unit_depth != None %}
        Useful rack depth (mm): <text class="info">{{ rack.rack_unit_depth }}</text>
    {% else %}
        Useful rack depth (mm):
    {% endif %}
    <br>
    Execution variant: <text class="info">{{ rack.rack_type }}</text>
    <br>
    Construction: <text class="info">{{ rack.rack_frame }}</text>
    <br>
    Location type: <text class="info">{{ rack.rack_palce_type }}</text>
    <br>
    {% if rack.max_load != None %}
        Max load (kilo): <text class="info">{{ rack.max_load }}</text>
    {% else %}
        Max load (kilo):
    {% endif %}
    <br>
    {% if rack.power_sockets != None %}
        Free power sockets: <text class="info">{{ rack.power_sockets }}</text>
    {% else %}
        Free power sockets:
    {% endif %}
    <br>
    {% if rack.power_sockets_ups != None %}
        Free UPS power sockets: <text class="info">{{ rack.power_sockets_ups }}</text>
    {% else %}
        Free UPS power sockets:
    {% endif %}
    <br>
    {% if rack.cooler == True %}
        Active ventilation: <text class="info">Yes</text>
    {% else %}
        Active ventilation: <text class="info">No</text>
    {% endif %}
    <br>
    {% if rack.external_ups == True %}
        External power backup supply system: <text class="info">Yes</text>
    {% else %}
        External power backup supply system: <text class="info">No</text>
    {% endif %}
    <br>
    TOTAL power consumption: <text class="info">{{ total_w }}</text>
    <br>
    <br>
    <div class="small-size">Updated by: {{ rack.updated_by}}</div>
    <div class="small-size">Updated at: {{ rack.updated_at}}</div>    
{% endblock %}
