{% extends 'base_units.html' %}
{% block page %}
{% for head in header %}
    <div class="small-size">
        <b>{{ head.region_name }}</b> &rArr; 
        <i>{{ head.department_name }}</i> &rArr; 
        {{ head.site_name }} &rArr; 
        {{ head.building_name }} &rArr; 
        {{ head.room_name }} &rArr; 
        {{ head.rack_name }}
    </div>
{% endfor %}
<br>
<br>
<table width="60%" align="center">
    <tr>
        <td>Rack name: {{ rack.rack_name }}</td>
    </tr>   
    <tr>
        <td>Row: {{ rack.row }}</td>
    </tr>
    <tr>
        <td>Place: {{ rack.place }}</td>
    </tr>
    <tr>
        <td><a class="btn-link second smaller" href="{% url 'rack_detail' pk=rack.pk %}">&#9755; Rack info</a></th></td>
    </tr>
    <tr>
        <td><a class="btn-link second smaller" href="{% url 'qr_list' pk=rack.pk %}" target="_blank"> &#9113; QR codes for devices and rack</a></th></td>
    </tr>    
    <tr>
        <td><a class="btn-link smaller" href="{% url 'device_add' pk=rack.pk %}" target="_blank">&#10010; Add new device</a></th></td>
    </tr>
</table>
<br>
    <font size="2">
    <table border="2" width="60%" align="center">
        <tr>
            <th colspan="3" class="rack-header">Front side of the rack&emsp;<a class="btn-link second smaller" href="{% url 'units_print' pk=rack.pk side=True %}" target="_blank"> &#9113; Print a draft</a></th>
        </tr>
        <tr>
            <th class="unit">№</th> 
            <th class="device">Device</th>
            <th class="id">ID</th>
        </tr>
        {% for list in start_list %}
        <tr>
            <th height="30px" width="30px">{{ list }}</th>
                {% for device in devices_front %}
                    {% for dev_num, first_unit in first_units_front.items %}
                        {% if first_unit == list %}
                            {% if dev_num == device.id %}
                                {% for key, value in spans_front.items %}
                                    {% if key|stringformat:"s" == device.id|stringformat:"s" %}
                                        {% if device.status == 'Device active' %}
                                            {% if device.ownership == 'Our department' %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device-coll" bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</font></a></th>
                                                    <th bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device-coll" bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_type }}</font></a></th>
                                                    <th bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% endif %}
                                            {% else %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device-coll" bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</a></th>
                                                    <th bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device-coll" bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_type }}</a></th>
                                                    <th bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% if device.ownership == 'Our department' %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device-coll zebra-green" bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</font></a></th>
                                                    <th bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device-coll zebra-green" bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_type }}</font></a></th>
                                                    <th bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% endif %}
                                            {% else %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device-coll zebra-red" bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</a></th>
                                                    <th bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device-coll zebra-red" bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_type }}</a></th>
                                                    <th bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <font size="2">
    <table border="2" width="60%" align="center">
        <tr>
            <th colspan="3" class="rack-header">Back side of the rack&emsp;<a class="btn-link second smaller" href="{% url 'units_print' pk=rack.pk side=False %}" target="_blank"> &#9113; Print a draft</a></th></i></th>
        </tr>
        <tr>
            <th class="unit">№</th> 
            <th class="device">Device</th>
            <th class="id">ID</th>
        </tr>
        {% for list in start_list %}
        <tr>
            <th height="30px" width="30px">{{ list }}</th>
                {% for device in devices_back %}
                    {% for dev_num, first_unit in first_units_back.items %}
                        {% if first_unit == list %}
                            {% if dev_num == device.id %}
                                {% for key, value in spans_back.items %}
                                    {% if key|stringformat:"s" == device.id|stringformat:"s" %}
                                        {% if device.status == 'Device active' %}
                                            {% if device.ownership == 'Our department' %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device-coll" bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</font></a></th>
                                                    <th bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device-coll" bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_type }}</font></a></th>
                                                    <th bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% endif %}
                                            {% else %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device-coll" bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</a></th>
                                                    <th bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device-coll" bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_type }}</a></th>
                                                    <th bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% if device.ownership == 'Our department' %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device-coll zebra-green" bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</font></a></th>
                                                    <th bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device-coll zebra-green" bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_type }}</font></a></th>
                                                    <th bgcolor="#ABEBC6" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% endif %}
                                            {% else %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device-coll zebra-red" bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</a></th>
                                                    <th bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device-coll zebra-red" bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">{{ device.device_type }}</a></th>
                                                    <th bgcolor="#F5B7B1" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">№{{ device.id }}</a></th>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
        </tr>
        {% endfor %}
{% endblock %}
