{% extends 'base_units.html' %}
{% block page %}
{% for head in header %}
<div style="float: right"><a class="btn-link second" href="{% url 'rack_detail' pk=rack.pk %}">&#9755; Rack info</a> <a class="btn-link second" href="{% url 'qr_list' pk=rack.pk %}" target="_blank"> &#9113; QR codes</a> <a class="btn-link" href="{% url 'device_add' pk=rack.pk %}" target="_blank">&#10010; Add new device</a></div>
<br>
    <div>
        <b>{{ head.region_name }}</b> &#9002; 
        {{ head.department_name }} &#9002; 
        {{ head.site_name }} &#9002; 
        {{ head.building_name }} &#9002; 
        {{ head.room_name }}
    </div>
{% endfor %}
Rack name: {{ rack.rack_name }}<br>
Row: {{ rack.row }}<br>
Place: {{ rack.place }}<br>
<br>
<br>
    <table class="styled-table">
        <thead>
        <tr>
            <th colspan="3">FRONT SIDE</th>
        </tr>
        </thead>
        {% for list in start_list %}
        <tr>
            <th class="unit">{{ list }}</th>
                {% for device in devices_front %}
                    {% for dev_num, first_unit in first_units_front.items %}
                        {% if first_unit == list %}
                            {% if dev_num == device.id %}
                                {% for key, value in spans_front.items %}
                                    {% if key|stringformat:"s" == device.id|stringformat:"s" %}
                                        {% if device.status == 'Device active' %}
                                            {% if device.ownership == 'Our department' %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device our" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device our" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_type }}</a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% endif %}
                                            {% else %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device alien" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device alien" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_type }}</a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% if device.ownership == 'Our department' %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device empty our" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</font></a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device empty our" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_type }}</font></a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% endif %}
                                            {% else %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device alien empty" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</a></th>&#9094; {{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device alien empty" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_type }}</a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
        </tr>
        {% endfor %}
    </table>
<br>
<br>
    <table class="styled-table">
        <thead>
        <tr>
            <th colspan="3">BACK SIDE</th>
        </tr>
        </thead>
        {% for list in start_list %}
        <tr>
            <th class="unit">{{ list }}</th>
                {% for device in devices_back %}
                    {% for dev_num, first_unit in first_units_back.items %}
                        {% if first_unit == list %}
                            {% if dev_num == device.id %}
                                {% for key, value in spans_back.items %}
                                    {% if key|stringformat:"s" == device.id|stringformat:"s" %}
                                        {% if device.status == 'Device active' %}
                                            {% if device.ownership == 'Our department' %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device our" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device our" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_type }}</a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% endif %}
                                            {% else %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device alien" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device alien" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_type }}</a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% if device.ownership == 'Our department' %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device empty our" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</font></a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device empty our" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_type }}</font></a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% endif %}
                                            {% else %}
                                                {% if device.device_vendor or device.device_model %}
                                                    <th class="device alien empty" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_vendor|truncatechars:18 }} {{ device.device_model|truncatechars:18 }}</a></th>&#9094; {{ device.id }}</a></th>
                                                {% else %}
                                                    <th class="device alien empty" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.device_type }}</a></th>
                                                    <th class="id" rowspan="{{ value }}"><a href="{% url 'device_detail' pk=device.pk %}" target="_blank">&#9094; {{ device.id }}</a></th>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
        </tr>
        {% endfor %}
{% endblock %}
